@font-face {
    font-family: "Coffee Mood";
    src: url(../fonts/Coffee_Mood.ttf) format("truetype");
}

@font-face {
    font-family: "Mabook";
    src: url(../fonts/Mabook.ttf) format("truetype");
}

body {
    background-color: #f49097;
    font-family: serif, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 30px;  
}

.logo-container {
    align-self: center;
    margin-top: 30px;
}

#logo {
    height: 100px;
    width: auto;
    padding: 10px;
    border: dashed;
    border-radius: 10px;
}

h1, h2 {
    font-family: "Coffee Mood", serif, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #9cf6f6;
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: "Mabook", serif, Verdana, sans-serif;;
}

/*.cabbage-icon:hover {
    background-color: black;
    background-image: url("../img/cabbage_2.png")
}*/

.main {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

.recipe-box {
    display: flex;
    max-width: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-box > a {
    color: #f5e960;
    text-decoration: none;
    font-family: "Mabook", serif, Verdana, sans-serif;
    display: block;
    text-align: center;
}

.recipe-box > img {
    height: 100px;
    width: auto;
    padding: 10px 0px;
}

p {
    font-family: serif;
    color: white;
}