@font-face {
    font-family: "Coffee Mood";
    src: url(../fonts/Coffee_Mood.ttf) format("truetype");
}

@font-face {
    font-family: "Mabook";
    src: url(../fonts/Mabook.ttf) format("truetype");
}

body {
    background-color: #f49097;
    font-family: serif, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    gap: 30px;
    
}

p, ul, ol {
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: "Mabook", serif, Verdana, sans-serif;;
}

#logo {
    height: 100px;
    width: auto;
    padding: 10px;
    border: dashed;
    border-radius: 10px;    
    
}

div {
    align-self: center;
    margin-top: 30px;
}

h1, h2{
    font-family: "Coffee Mood", serif, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #9cf6f6;
    text-align: center;
}

p {
    font-family: serif;
}

a {
    color: #f5e960;
    text-decoration: none;
}

img {
    height: auto;
    width: 500px;
}


